/*
color1 #212121
color2 #757575
accent #2196F3
footer color2 rgba(255, 255, 255, 0.6)
bkg color1 #ffffff
bkg color2 #F5F4FA
bkg color3 #2F303A

*/

:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-footer: rgba(255, 255, 255, 0.6);
  --bckg-primary: #ffffff;
  --bckg-secondary: #f5f4fa;
  --bckg-dark: #2f303a;
  --bckg-button: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  background-color: var(--bckg-primary);
}

.section {
}
.section.bckg-primary {
  background-color: var(--bckg-primary);
}
.section.bckg-secondary {
  background-color: var(--bckg-secondary);
}
.section.bckg-dark {
  background-color: var(--bckg-dark);
}

.container {
  width: 1200px;
  padding: 0 15px;
  outline: tomato solid 2px;
}
.container.margin-bottom {
  margin-bottom: 94px;
}
.container.centered {
  text-align: center;
}
.container.our-command {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}
.container.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-begin {
  color: var(--color-accent);
}
.logo-end-black {
  color: #000000;
}
.logo-end-white {
  color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-no-hilights {
  list-style: none;
}

.list :visited {
  color: inherit;
}
.list :hover {
  color: var(--color-accent);
}

.list :focus {
  color: var(--color-accent);
}

.header-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}

.header-contacts {
  color: var(--color-secondary);
}

.hero {
  margin: 0;
}

.hero-header {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 auto;
  width: 696px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.sections-header {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.sections-header.invisible {
  display: none;
}

.features-headers {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.list-untouch {
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-command-header {
  margin: 30px 0 10px 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-command-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.portfolio-headers {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /*color: var(--color-primary);*/
}

.portfolio-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.footer-ref {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
}

.footer-ref:hover {
  color: var(--color-accent);
}
.footer-ref:focus {
  color: var(--color-accent);
}

.footer-address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.footer-address:hover {
  color: var(--color-accent);
}
.footer-address:focus {
  color: var(--color-accent);
}

.bckg-dark {
  background-color: var(--bckg-dark);
}

.button {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  min-width: 216px;
  height: 50px;
  /*border-color: transparent;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--color-accent);
  color: #ffffff;
  /*background: var(--bckg-button);
  color: var(--color-accent);*/
}
/*.button:hover {
  background: var(--color-accent);
  color: #ffffff;
}
.button:focus {
  background: var(--color-accent);
  color: #ffffff;
}*/
.button-portfolio {
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: var(--bckg-button);
}
.button-portfolio:hover {
  background: var(--color-accent);
  color: #ffffff;
}
.button-portfolio:focus {
  background: var(--color-accent);
  color: #ffffff;
}
